<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848376794933-mi9qaheeafnn35c1rcb8dbl91fatcha1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848376794933-mi9qaheeafnn35c1rcb8dbl91fatcha1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>848376794933-hkdp1emokfj79dq541abu558u1tmnolb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7yVICVSGcWZ3Mzjayu--ec4mfpwm6j84</string>
	<key>GCM_SENDER_ID</key>
	<string>848376794933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prepassist.mobile</string>
	<key>PROJECT_ID</key>
	<string>prepassist-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>prepassist-v2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848376794933:ios:e4b7a293218e1c1f70067c</string>
	<key>DATABASE_URL</key>
	<string>https://prepassist-v2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>